NODE_ENV=development
PORT=3000
LOG_LEVEL=info

DATABASE_URL="postgresql://usr_logfy:usr_logfy@localhost:5432/db_logfy?schema=public"

ADMIN_API_KEY=a6021f6804f1cad710f1437138bd01015d5ca767b79201b437ebfe9a1fe3bc7f
GOOGLE_MAPS_API_KEY=AIzaSyAn-3Wbgo5XylTyLcK9uI9GkZQ_U8C4pEI
GOOGLE_MAPS_TIMEOUT_MS=10000
ROUTING_MAX_DELIVERIES=100


